@model IEnumerable<Products.web.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" style="color:chartreuse">Create New</a>
</p>
<table class="table" style="background-color:greenyellow">
    <thead style="background-color:gold">
        <tr>
            <th style="background-color:orchid">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="background-color:orchid">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th style="background-color:orchid">
                @Html.DisplayNameFor(model => model.Deliverydate)
            </th>
            <th style="background-color:orchid">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th style="background-color:orchid">
                @Html.DisplayNameFor(model => model.DeliveryDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="background-color:gold">
            <td style="background-color:orchid">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td style="background-color:orchid">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="background-color:orchid">
                @Html.DisplayFor(modelItem => item.Deliverydate)
            </td>
            <td style="background-color:orchid">
                @Html.DisplayFor(modelItem => item.Category.ProductCategoryName)
            </td>
            <td style="background-color:orchid">
                @Html.DisplayFor(modelItem => item.DeliveryDetails.CustomerAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
 <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Img/mustang.jpg" style="width:100%" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="~/Img/Laptops.jpg" style="width:100%" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="~/Img/SmartPhones.jpg" style="width:100%" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

