@model IEnumerable<Products.web.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<div >
    @*Server Side Comment Example*@
    <!--Client Comment-->
</div class="text-center" style="background-color:#fff;margin-bottom:2rem ;padding:1rem ;margin-top:3rem">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="background-color:greenyellow">
    <thead>
        <tr>
            <th style="background-color:aqua">
                @Html.DisplayNameFor(model => model.ProductCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PCId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PCId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PCId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<head>

</head>


<div class="container mt-3">

<h2>Carousel</h2>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Img/SportWear.jpg" alt="Los Angeles" width="500" height="500">
    </div>
    <div class="carousel-item">
      <img src="~/Img/Headphones.jpg" alt="Chicago" width="500" height="500">
    </div>
    <div class="carousel-item">
      <img src="~/Img/SportWear.jpg" alt="New York" width="500" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>


